.App {
  text-align: center;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-1 {
  margin-left: 7%;
  flex-basis: 31%;
}
.flex-2 {
  flex-basis: 31%;
}

.flex-3 {
  flex-basis: 31%;
}
.flex-4 {
  flex-basis: 31%;
  justify-content: center;
  margin-top: 10%;
  margin-left: 38%;
}
